@import "https://fonts.googleapis.com/css?family=Lato:300,400,300italic,400italic";
@import "https://fonts.googleapis.com/css?family=Montserrat:300,400,500,600,700";
@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css";
@import "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css";
$white: #ffffff;
$black: #555555;
$grey: #777777;
$lightgrey: #e8e8e8;
$color1: #a8b2c4;
$color2: #03b5aa;
$color3: #05a8aa;
$color4: #dc602e;
$color5: #188fa7;
@mixin transform-scale($sx, $sy) {
  transform: scale($sx, $sy);
  -webkit-transform: scale($sx, $sy);
  -moz-transform: scale($sx, $sy);
  -ms-transform: scale($sx, $sy);
  -o-transform: scale($sx ,$sy);
}
@mixin border-radius($r) {
  border-radius: $r;
  -webkit-border-radius: $r;
  -moz-border-radius: $r;
  -ms-border-radius: $r;
  -o-border-radius: $r;
}
@mixin transition($t) {
  transition: $t;
  -webkit-transition: $t;
  -moz-transition: $t;
  -ms-transition: $t;
  -o-transition: $t;
}

* {
  @include transition(all .4s ease-in-out);
}

.container {
  color: $black;
  background: $white;
  font-family: 'Lato',sans-serif;
  font-size: 14px;
  padding: 70px 10px;

  h3 {
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    font-weight: 600;
    margin-top: 50px;
    text-transform: uppercase;
    @include transform-scale(1, 1.25);
  }

  .separator {
    margin: 0 3px;
  }

  .section--title {
    .name {
      color: $color5;
      font-family: 'Montserrat',sans-serif;
      font-weight: 700;
      margin: 0;
      text-transform: uppercase;
      @include transform-scale(1, 1.25);
    }

    .job-title {
      display: inline-block;
      font-size: 25px;
      line-height: 25px;
      margin-top: 0;
    }

    .social {
      display: inline-block;
      padding-left: 15px;

      .social-item {
        display: inline-block;
        margin-right: 10px;

        a {
          background: $color5;
          color: $white;
          display: block;
          height: 25px;
          line-height: 25px;
          text-align: center;
          width: 25px;
          @include border-radius(50%);

          &:hover {
            background: $color3;
          }
        }
      }
    }
  }

  .section--about{
    white-space: pre-line;
  }

  .section--contact,
  .section--experience,
  .section--education,
  .section--hobbies,
  .section--languages,
  .section--skills {
    .title-1 {
      color: $color5;
      font-family: 'Montserrat',sans-serif;
      font-size: 16px;
      font-weight: 600;
      line-height: 1.5;
    }

    .title-2 {
      color: $grey;
      font-family: 'Montserrat',sans-serif;
      font-size: 14px;
    }

    .date {
      color: $grey;
      font-family: 'Montserrat',sans-serif;
      font-size: 13px;
      margin-left: 5px;
    }

    .list {
      list-style-type: none;
      padding-left: 15px;

      .list-item {
        .fa {
          color: $color5;
          margin-right: 10px;
        }
      }
    }

    .language,
    .skill {
      padding-bottom: 10px;

      .level-bar {
        background: $lightgrey;
        height: 14px;
        width: 100%;

        .level-bar-inner {
          background: $color5;
          height: 14px;
        }
      }
    }

    .contact,
    .hobbie {
      margin-bottom: 8px;

      .fa {
        color: $color5;
        margin-left: -8px;
        text-align: center;
        width: 32px;
      }
    }
  }
}
